PORT=3000
NODE_ENV=development

# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=postgres
# DB_NAME=attendance
DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_PORT=6543
DB_USERNAME=postgres.zdtykjevxjakdglceaii
DB_PASSWORD= atten$DANCE123
DB_NAME=postgres

JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=1d

# RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_URL=amqps://uynctuqd:kQqiiKasuj1WWIld--f28dfZ7-4qJ3xF@armadillo.rmq.cloudamqp.com/uynctuqd
EMPLOYEES_QUEUE=employees_queue
ATTENDANCES_QUEUE=attendances_queue
AUTH_QUEUE=auth_queue
NOTIFICATIONS_QUEUE=notifications_queue
